In [172]:
import pandas as pd

In [173]:
df_train = pd.read_csv('/content/train.csv')
df_train.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [174]:
print(len(df_train.columns))
print(df_train.columns)

15
Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income_>50K'],
      dtype='object')

In [175]:
df_train.shape

(43957, 15)

In [176]:
df_train.isnull().sum()

age                   0
workclass          2498
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2506
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      763
income_>50K           0
dtype: int64

- missing values are present

# Handling categorical data
- education onehot encoding
- marital-status onehot encoding
- occupation onehot encoding
- relationship onehot encoding
- race onehot encoding
- gender onehot encoding
- occupation onehot encoding


- native-country label encoding
- workclass label encoding

Handling Null values:
- remove null values data points
- handle those data points with some logic

In [177]:
df_train.occupation.value_counts()

Craft-repair         5519
Prof-specialty       5518
Exec-managerial      5506
Adm-clerical         5004
Sales                4965
Other-service        4448
Machine-op-inspct    2711
Transport-moving     2121
Handlers-cleaners    1878
Farming-fishing      1348
Tech-support         1321
Protective-serv       874
Priv-house-serv       225
Armed-Forces           13
Name: occupation, dtype: int64

In [178]:
df_train['native-country'].value_counts()

United-States                 39429
Mexico                          880
Philippines                     273
Germany                         188
Puerto-Rico                     167
Canada                          158
El-Salvador                     145
India                           134
Cuba                            124
China                           113
England                         109
South                           105
Dominican-Republic               97
Jamaica                          97
Italy                            94
Japan                            83
Guatemala                        79
Vietnam                          77
Columbia                         75
Poland                           72
Haiti                            71
Portugal                         59
Taiwan                           58
Iran                             52
Nicaragua                        46
Greece                           44
Ecuador                          42
Peru                             40
France                           32
Ireland                          32
Thailand                         29
Hong                             29
Cambodia                         24
Trinadad&Tobago                  22
Honduras                         20
Outlying-US(Guam-USVI-etc)       19
Scotland                         19
Yugoslavia                       19
Laos                             19
Hungary                          18
Holand-Netherlands                1
Name: native-country, dtype: int64

In [179]:
df_train.workclass.value_counts()

Private             30587
Self-emp-not-inc     3464
Local-gov            2822
State-gov            1756
Self-emp-inc         1518
Federal-gov          1284
Without-pay            20
Never-worked            8
Name: workclass, dtype: int64

- Duplicate check

In [180]:
df_train.duplicated().sum()

45

- drop duplicates

In [181]:
df_train.drop_duplicates(inplace = True)

In [182]:
df_train.shape

(43912, 15)

- Handling Null value
- drop null
- apply logic

In [183]:
df_trainCopy = df_train.copy()
df_trainCopy2 = df_train.copy()
df_trainCopy.head(2)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0

In [184]:
df_trainCopy2.head(2)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0

In [185]:
df_trainCopy.dropna(inplace=True)

In [186]:
df_trainCopy.shape

(40686, 15)

- Handling Categorical Variable

In [187]:
df_trainCopy.workclass.value_counts()

Private             30018
Self-emp-not-inc     3403
Local-gov            2792
State-gov            1721
Self-emp-inc         1470
Federal-gov          1262
Without-pay            20
Name: workclass, dtype: int64

In [188]:
df_trainCopy.education.value_counts()

HS-grad         13299
Some-college     8897
Bachelors        6803
Masters          2266
Assoc-voc        1739
11th             1481
Assoc-acdm       1360
10th             1098
7th-8th           739
Prof-school       706
9th               615
12th              519
Doctorate         489
5th-6th           411
1st-4th           200
Preschool          64
Name: education, dtype: int64

In [189]:
df_trainCopy['marital-status'].value_counts()

Married-civ-spouse       18965
Never-married            13129
Divorced                  5663
Separated                 1252
Widowed                   1151
Married-spouse-absent      500
Married-AF-spouse           26
Name: marital-status, dtype: int64

In [190]:
df_trainCopy['occupation'].value_counts()

Craft-repair         5423
Exec-managerial      5412
Prof-specialty       5374
Adm-clerical         4940
Sales                4876
Other-service        4345
Machine-op-inspct    2659
Transport-moving     2085
Handlers-cleaners    1853
Farming-fishing      1333
Tech-support         1295
Protective-serv       866
Priv-house-serv       213
Armed-Forces           12
Name: occupation, dtype: int64

In [191]:
df_trainCopy['relationship'].value_counts()

Husband           16804
Not-in-family     10508
Own-child          5969
Unmarried          4302
Wife               1884
Other-relative     1219
Name: relationship, dtype: int64

In [192]:
df_trainCopy['race'].value_counts()

White                 34969
Black                  3816
Asian-Pac-Islander     1182
Amer-Indian-Eskimo      394
Other                   325
Name: race, dtype: int64

In [193]:
df_trainCopy['gender'].value_counts()

Male      27460
Female    13226
Name: gender, dtype: int64

In [194]:
df_trainCopy['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [195]:
df_trainCopy.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income_>50K         int64
dtype: object

In [196]:
df_trainCopy.select_dtypes(include='O').keys()

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country'],
      dtype='object')

In [197]:
dum_df = pd.get_dummies(df_trainCopy, columns = ['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country'])
dum_df.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income_>50K,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,67,366425,16,99999,0,60,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,17,244602,8,0,0,15,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,31,174201,13,0,0,40,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,58,110199,4,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,25,149248,10,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [198]:
dum_df.columns

Index(['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'income_>50K', 'workclass_Federal-gov',
       'workclass_Local-gov', 'workclass_Private',
       ...
       'native-country_Portugal', 'native-country_Puerto-Rico',
       'native-country_Scotland', 'native-country_South',
       'native-country_Taiwan', 'native-country_Thailand',
       'native-country_Trinadad&Tobago', 'native-country_United-States',
       'native-country_Vietnam', 'native-country_Yugoslavia'],
      dtype='object', length=105)

In [199]:
dum_df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income_>50K,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
count,40686.000000,4.068600e+04,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000,...,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000,40686.000000
mean,38.529101,1.897858e+05,10.114585,1119.767217,89.333382,40.912796,0.247923,0.031018,0.068623,0.737797,...,0.001352,0.003908,0.000442,0.002237,0.001204,0.000688,0.000516,0.912796,0.001843,0.000467
std,13.240418,1.059153e+05,2.555784,7643.607251,406.763825,12.014326,0.431812,0.173369,0.252815,0.439838,...,0.036743,0.062392,0.021029,0.047241,0.034683,0.026225,0.022713,0.282138,0.042896,0.021605
min,17.000000,1.349200e+04,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,1.173630e+05,9.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,37.000000,1.782635e+05,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,47.000000,2.380632e+05,13.000000,0.000000,0.000000,45.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Standarization or Normalization (Required for distance based and gradient decent algorithm)

- capital-gain
- capital-loss

In [200]:
from sklearn.model_selection import train_test_split

X = dum_df.drop(labels = 'income_>50K', axis = 1).to_numpy()
y = dum_df['income_>50K'].to_numpy()

In [201]:
X.shape

(40686, 104)

In [202]:
y.shape

(40686,)

In [203]:
X

array([[    67, 366425,     16, ...,      1,      0,      0],
       [    17, 244602,      8, ...,      1,      0,      0],
       [    31, 174201,     13, ...,      1,      0,      0],
       ...,
       [    30, 197947,     10, ...,      1,      0,      0],
       [    46,  97883,     13, ...,      1,      0,      0],
       [    30, 375827,      9, ...,      1,      0,      0]])

In [204]:
y

array([1, 0, 1, ..., 0, 0, 0])

In [205]:
X_train, x_test, Y_train, y_test =  train_test_split(X, y, test_size = 0.2, random_state = 100)

In [206]:
X_train.shape

(32548, 104)

In [207]:
x_test.shape

(8138, 104)

# Model Creation

In [208]:
#using random forest 
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=150, max_depth = 5, random_state = 50)
clf.fit(X_train, Y_train)

RandomForestClassifier(max_depth=5, n_estimators=150, random_state=50)

In [209]:
y_hat = clf.predict(x_test)

In [210]:
from sklearn.metrics import classification_report


print(classification_report(y_test, y_hat))

              precision    recall  f1-score   support

           0       0.83      0.97      0.89      6099
           1       0.81      0.42      0.55      2039

    accuracy                           0.83      8138
   macro avg       0.82      0.69      0.72      8138
weighted avg       0.83      0.83      0.81      8138

In [211]:
#applying grid_search cv
params = {
    'max_depth': [3,5,8,10, 15, 20],
    'min_samples_leaf': [5,10,20,50,100],
    'n_estimators': [10,25,30,50,100,150, 200]
}

In [212]:
from sklearn.model_selection import GridSearchCV
rfc_ = RandomForestClassifier(random_state = 40, n_jobs = -1)

gd = GridSearchCV(estimator = rfc_, n_jobs= -1, scoring = 'accuracy', verbose = 1,param_grid = params, cv = 5)

In [44]:
%%time
gd.fit(X_train, Y_train)

Fitting 5 folds for each of 210 candidates, totalling 1050 fits
CPU times: user 14.3 s, sys: 1.36 s, total: 15.6 s
Wall time: 18min 30s

GridSearchCV(cv=5, estimator=RandomForestClassifier(n_jobs=-1, random_state=40),
             n_jobs=-1,
             param_grid={'max_depth': [3, 5, 8, 10, 15, 20],
                         'min_samples_leaf': [5, 10, 20, 50, 100],
                         'n_estimators': [10, 25, 30, 50, 100, 150, 200]},
             scoring='accuracy', verbose=1)

In [45]:
print(gd.best_score_)
print(gd.best_estimator_)
print(gd.best_params_)

0.8599299563714096
RandomForestClassifier(max_depth=20, min_samples_leaf=5, n_estimators=50,
                       n_jobs=-1, random_state=40)
{'max_depth': 20, 'min_samples_leaf': 5, 'n_estimators': 50}

In [213]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=50, max_depth = 20, random_state = 40, min_samples_leaf= 5)
clf.fit(X_train, Y_train)

RandomForestClassifier(max_depth=20, min_samples_leaf=5, n_estimators=50,
                       random_state=40)

In [214]:
y_hat = clf.predict(x_test)

In [112]:
print(classification_report(y_test, y_hat))

              precision    recall  f1-score   support

           0       0.87      0.95      0.91      6099
           1       0.79      0.59      0.67      2039

    accuracy                           0.86      8138
   macro avg       0.83      0.77      0.79      8138
weighted avg       0.85      0.86      0.85      8138

In [113]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_hat)

0.8568444335217498

In [114]:
#logistic regresiion
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [115]:
y_hat = clf.predict(x_test)

print(classification_report(y_test, y_hat))

              precision    recall  f1-score   support

           0       0.80      0.97      0.87      6099
           1       0.72      0.26      0.38      2039

    accuracy                           0.79      8138
   macro avg       0.76      0.61      0.62      8138
weighted avg       0.78      0.79      0.75      8138

In [116]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_hat)

0.7879085770459573

In [130]:
df_test = pd.read_csv('/content/test.csv')
df_test.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,39,Self-emp-not-inc,327120,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Portugal
1,32,Private,123253,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42,United-States
2,47,Private,232628,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States
3,19,Private,374262,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,20,United-States
4,46,Self-emp-not-inc,311231,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States

In [131]:
df_test.shape

(899, 14)

In [118]:
df_test.select_dtypes(include='O').keys()

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country'],
      dtype='object')

In [123]:
dumtest_df = pd.get_dummies(df_test, columns = ['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country'])
dumtest_df.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Nicaragua,native-country_Philippines,native-country_Poland,native-country_Portugal,native-country_Puerto-Rico,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States
0,39,327120,9,0,0,40,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,32,123253,12,0,0,42,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,47,232628,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,19,374262,8,0,0,20,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,46,311231,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [124]:
dumtest_df.columns

Index(['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_Federal-gov', 'workclass_Local-gov',
       'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov', 'education_10th',
       'education_11th', 'education_12th', 'education_1st-4th',
       'education_5th-6th', 'education_7th-8th', 'education_9th',
       'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors',
       'education_Doctorate', 'education_HS-grad', 'education_Masters',
       'education_Preschool', 'education_Prof-school',
       'education_Some-college', 'marital-status_Divorced',
       'marital-status_Married-AF-spouse', 'marital-status_Married-civ-spouse',
       'marital-status_Married-spouse-absent', 'marital-status_Never-married',
       'marital-status_Separated', 'marital-status_Widowed',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'relationship_Husband', 'relationship_Not-in-family',
       'relationship_Other-relative', 'relationship_Own-child',
       'relationship_Unmarried', 'relationship_Wife',
       'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black',
       'race_Other', 'race_White', 'gender_Female', 'gender_Male',
       'native-country_Cambodia', 'native-country_Canada',
       'native-country_China', 'native-country_Columbia',
       'native-country_Cuba', 'native-country_Dominican-Republic',
       'native-country_Ecuador', 'native-country_El-Salvador',
       'native-country_England', 'native-country_France',
       'native-country_Germany', 'native-country_Greece',
       'native-country_Guatemala', 'native-country_Haiti',
       'native-country_India', 'native-country_Italy',
       'native-country_Jamaica', 'native-country_Laos',
       'native-country_Mexico', 'native-country_Nicaragua',
       'native-country_Philippines', 'native-country_Poland',
       'native-country_Portugal', 'native-country_Puerto-Rico',
       'native-country_South', 'native-country_Taiwan',
       'native-country_Thailand', 'native-country_Trinadad&Tobago',
       'native-country_United-States'],
      dtype='object')

In [108]:
dum_df.columns

Index(['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'income_>50K', 'workclass_Federal-gov',
       'workclass_Local-gov', 'workclass_Private',
       ...
       'native-country_Portugal', 'native-country_Puerto-Rico',
       'native-country_Scotland', 'native-country_South',
       'native-country_Taiwan', 'native-country_Thailand',
       'native-country_Trinadad&Tobago', 'native-country_United-States',
       'native-country_Vietnam', 'native-country_Yugoslavia'],
      dtype='object', length=105)

In [125]:
for col in dum_df.columns:
  if col not in dumtest_df.columns:
    print(col)

income_>50K
workclass_Without-pay
native-country_Holand-Netherlands
native-country_Honduras
native-country_Hong
native-country_Hungary
native-country_Iran
native-country_Ireland
native-country_Japan
native-country_Outlying-US(Guam-USVI-etc)
native-country_Peru
native-country_Scotland
native-country_Vietnam
native-country_Yugoslavia

In [114]:
dumtest_df.drop(labels = 'workclass_Never-worked', inplace = True, axis = 1)

In [126]:
dumtest_df.shape

(899, 91)

In [127]:
dum_df.shape

(40686, 105)

In [128]:
X_test = dumtest_df.to_numpy()

In [129]:
X_test

array([[    39, 327120,      9, ...,      0,      0,      0],
       [    32, 123253,     12, ...,      0,      0,      1],
       [    47, 232628,      9, ...,      0,      0,      1],
       ...,
       [    24, 127139,     10, ...,      0,      0,      1],
       [    35, 132879,     10, ...,      0,      0,      1],
       [    37,  44694,     14, ...,      0,      0,      1]])

In [130]:
clf.predict(X_test)

ValueError: ignored

In [117]:
df_trainCopy2.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [123]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()

df_trainCopy2['Workclass'] = lb.fit_transform(df_trainCopy2['workclass'])
df_trainCopy2['Native-country'] = lb.fit_transform(df_trainCopy2['native-country'])

df_trainCopy2.shape

(43912, 17)

# applying logic using label encoder and onehot encoder

In [124]:
df_trainCopy2.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K,Workclass,Native-country
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1,3,38
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0,3,38
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1,3,38
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0,6,38
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0,6,38

In [125]:
df_train = pd.get_dummies(df_trainCopy2, columns = ['education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender'])

df_train.head()

,age,workclass,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,native-country,income_>50K,Workclass,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male
0,67,Private,366425,16,99999,0,60,United-States,1,3,...,0,0,0,0,0,0,0,1,0,1
1,17,Private,244602,8,0,0,15,United-States,0,3,...,1,0,0,0,0,0,0,1,0,1
2,31,Private,174201,13,0,0,40,United-States,1,3,...,0,0,0,0,0,0,0,1,0,1
3,58,State-gov,110199,4,0,0,40,United-States,0,6,...,0,0,0,0,0,0,0,1,0,1
4,25,State-gov,149248,10,0,0,40,United-States,0,6,...,0,0,0,0,0,1,0,0,0,1

In [128]:
df_train.drop(labels = ['workclass', 'native-country'], inplace = True, axis = 1)

In [129]:
df_train.shape

(43912, 59)

In [132]:

lb = LabelEncoder()

df_test['Workclass'] = lb.fit_transform(df_test['workclass'])
df_test['Native-country'] = lb.fit_transform(df_test['native-country'])

df_test.shape

(899, 16)

In [134]:
df_test.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,Workclass,Native-country
0,39,Self-emp-not-inc,327120,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Portugal,4,22
1,32,Private,123253,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42,United-States,2,28
2,47,Private,232628,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,2,28
3,19,Private,374262,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,20,United-States,2,28
4,46,Self-emp-not-inc,311231,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,4,28

In [135]:
df_test.drop(labels = ['workclass', 'native-country'], inplace  = True, axis =1)

df_test.shape

(899, 14)

In [136]:
df_test = pd.get_dummies(df_test, columns = ['education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender'])

df_test.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,Workclass,Native-country,education_10th,education_11th,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male
0,39,327120,9,0,0,40,4,22,0,0,...,0,0,0,0,0,0,0,1,0,1
1,32,123253,12,0,0,42,2,28,0,0,...,0,0,0,0,0,0,0,1,0,1
2,47,232628,9,0,0,40,2,28,0,0,...,0,0,0,0,0,1,0,0,0,1
3,19,374262,8,0,0,20,2,28,0,0,...,1,0,0,0,0,0,0,1,0,1
4,46,311231,9,0,0,40,4,28,0,0,...,0,0,0,0,0,0,0,1,0,1

In [138]:
df_test.shape

(899, 58)

In [139]:
df_train.shape

(43912, 59)

In [144]:
X = df_train.drop(labels = ['income_>50K'], axis = 1).to_numpy()
X.shape

(43912, 58)

In [145]:
y = df_train['income_>50K'].to_numpy()
y.shape

(43912,)

In [146]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2, random_state = 42)

In [147]:
X_train.shape

(35129, 58)

In [148]:
X_test.shape

(8783, 58)

In [149]:
#random forest
clf = RandomForestClassifier(n_estimators=150, max_depth = 5, random_state = 50)
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=5, n_estimators=150, random_state=50)

In [151]:
y_hat = clf.predict(X_test)
print(classification_report(y_test, y_hat))

              precision    recall  f1-score   support

           0       0.86      0.96      0.90      6706
           1       0.79      0.47      0.59      2077

    accuracy                           0.85      8783
   macro avg       0.82      0.72      0.75      8783
weighted avg       0.84      0.85      0.83      8783

In [152]:
clf = LogisticRegression()
clf.fit(X_train, y_train)
y_hat = clf.predict(X_test)
print(classification_report(y_test, y_hat))

              precision    recall  f1-score   support

           0       0.81      0.95      0.87      6706
           1       0.63      0.29      0.40      2077

    accuracy                           0.79      8783
   macro avg       0.72      0.62      0.64      8783
weighted avg       0.77      0.79      0.76      8783

In [153]:
#parameter tuning
params = {
    'max_depth': [3,5,8,10, 15, 20],
    'min_samples_leaf': [5,10,20,50,100],
    'n_estimators': [10,25,30,50,100,150, 200]
}
rfc_ = RandomForestClassifier(random_state = 40, n_jobs = -1)
gd = GridSearchCV(estimator = rfc_, n_jobs= -1, scoring = 'accuracy', verbose = 1,param_grid = params, cv = 5)

In [155]:
%%time
gd.fit(X_train, y_train)

Fitting 5 folds for each of 210 candidates, totalling 1050 fits
CPU times: user 13 s, sys: 1.16 s, total: 14.1 s
Wall time: 19min

GridSearchCV(cv=5, estimator=RandomForestClassifier(n_jobs=-1, random_state=40),
             n_jobs=-1,
             param_grid={'max_depth': [3, 5, 8, 10, 15, 20],
                         'min_samples_leaf': [5, 10, 20, 50, 100],
                         'n_estimators': [10, 25, 30, 50, 100, 150, 200]},
             scoring='accuracy', verbose=1)

In [156]:
print(gd.best_score_)
print(gd.best_estimator_)
print(gd.best_params_)

0.8637591943700723
RandomForestClassifier(max_depth=20, min_samples_leaf=5, n_estimators=50,
                       n_jobs=-1, random_state=40)
{'max_depth': 20, 'min_samples_leaf': 5, 'n_estimators': 50}

In [158]:
rfc_ = RandomForestClassifier(n_estimators=50, random_state = 40, n_jobs = -1, max_depth=20, min_samples_leaf=5)
rfc_.fit(X_train, y_train)

RandomForestClassifier(max_depth=20, min_samples_leaf=5, n_estimators=50,
                       n_jobs=-1, random_state=40)

In [162]:
y_predictions = rfc_.predict(df_test.to_numpy())

In [170]:
pred = pd.Series(y_predictions)

In [171]:
pred.to_csv('pred.csv')

- Above model has been accepted